body {
	margin:0;
	padding:0;

}
#namebox {
	background-color: #4aaaa5;
	width: 197px;
	height: 70px;
	margin-left:121px;
	color:#ffffff;
	text-align: center;
	z-index:2;
	position:absolute;
	margin-top:0px;
	vertical-align: middle;
}
h1,
h2,
h3,
h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}
h2,
h3 {
	color: #4aaaa5;
}
h2 {
	margin-left:10px;
}
h3{
	margin-left:44px;
}
.Font-Prop {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	color:#777777;
}
header {
	background-color: #ffffff;
	width: 100%;
	height:70px;
	overflow:auto;
	float:left;
	clear:both;
}
.nav {
	list-style-type: none;
    margin-top:28px;
    padding: 0;
}
.box1 {
	float:left;
	display:block;
	margin-left:800px;
	border-right: 1px solid #b1b1b1;
	margin-right:10px;
	width:60px;
	text-decoration: none;
}
.box2 {
	float:left;
	display:block;
	border-right: 1px solid #b1b1b1;
	margin-right:10px;
	width: 70px;
	text-decoration: none;
}
.box3 {
	float:left;
	display:block;
	text-decoration: none;
}
.container-outer1 {
	height: 400px;
	background-image: url(../images/background.png);
	float:left;
	width:100%;
	height:auto;
	border-top:1px solid #dddddd;
}
.content {
	border-top: 1px solid #dddddd;
	margin-left: 20px;
	margin-right: 20px;
}
#image1 {
	width: 25%;
	float:left;
	margin-top: 20px;
	margin-right:10px;
}
.container-inner1 {
	background-color:#ffffff;
	width:650px;
	margin-left:121px;
	margin-top:30px;
	margin-right:20px;
	float:left;
	height: auto;
	margin-bottom:150px;
}
.container-inner2 {
	width: 270px;
	height: 157px;
	background-color:#ffffff;
	margin-top:30px;
	padding-top:10px;
	float:left;
}
.icon {
	margin-top:10px;
	width:48px;
	height:48px;
	float:left;
}
.icon1 {
	margin-left:26px;
}
.icon2 {
	margin-left:10px;
}
.icon3 {
	margin-left:10px;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #666666;
  text-align: center;
  color:#b1b1b1;
}
#Teal-Line {
	background-color: #4aaaa5;
	height:7px;
	width:100%;
  	right: 0;
  	bottom: 80px;
  	left: 0;
  	position:fixed;
}
textarea {
	width: 530px;
	height: 300px;
}
input[name=Submit] {
	width: 85px;
	height:30px;
	color:white;
	background-color:#4aaaa5;
	margin-bottom:20px;
}
form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
}
.item {
    float: left;
    display: block;
    margin-left: 67px;
    margin-top: 18px;
}
.PortImg {
	width:200px;
}
.item3 {
	clear:both;
}
.item5 {
	clear:both;
	margin-bottom:18px;
}
#H-item1 {
    display: block;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 313px;
    width: 180px;
}
#H-item2 {
    display: block;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 313px;
    width: 180px;
}
#H-item3 {
    display: block;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 537px;
    width: 180px;
}
#H-item4 {
    display: block;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 537px;
    width: 180px;
}
#H-item5 {
    display: block;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 758px;
    width: 180px;
}